* {
  padding: 0;
  /* outline: 1px dotted red; */
  margin: 0;
}

.hide-btn {
  display: none;
}

body {
  font-family: sans-serif;
  display: flex;
  background-color: #f3f8fd;
}

aside {
  box-shadow: 0px 0px 0px 0.1px;
  height: 100vh;
  background-color: #ffffff;
}

aside ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

aside ul li {
  list-style: none;
}

aside ul li a {
  color: black;
}

aside ul li a i {
  padding: 10px;
}

aside ul li img {
  padding: 15px;
  height: auto;
  width: 50px;
}

.container {
  width: 100%;
}

header {
  box-shadow: 0px 0px 0px 0.1px;
  background-color: #ffffff;
}

header ul {
  justify-content: space-between;
  display: flex;
  padding: 15px 15px 15px 50px;
}

header ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li img {
  padding-right: 10px;
  height: auto;
  width: 50px;
}

form {
  display: flex;
  gap: 20px;
}

form a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

form a button {
  border-radius: 5px;
  border-style: none;
  background-color: #9c89ff;
  padding: 10px;
  color: white;
}

form div {
  border-radius: 5px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 10px 30px 30px;
}

form div i {
  padding: 8px;
}

form div input {
  border-radius: 5px;
  border: none;
  padding: 8px;
  width: 300px;
}

main {
  display: flex;
  gap: 50px;
}

main section {
  justify-content: space-between;
  margin: 30px;
  width: 40%;
}

main section ul {
  display: flex;
  flex-direction: column;
}

main section ul li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 20px;
}

main section ul li img {
  height: auto;
  width: 100px;
}

main section ul li div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

main section ul li i {
  padding: 10px;
  color: red;
}

main section ul li div .price {
  background-color: #f0f0f0;
  color: #9c89ff;
  padding: 5px;
  border-radius: 20px;
  width: 25px;
  font-weight: bold;
}

main section ul li div .quantity {
  font-size: small;
  color: #7d7d7d;
}

main section ul li div input {
  display: flex;
  justify-content: center;
  text-align: center;
  border: 1px solid #d4e1ec;
  border-radius: 5px;
  padding: 15px;
  width: 80px;
}

main section ul li div .total-amount {
  width: 100px;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  background-color: #f0f0f0;
  color: #9c89ff;
  font-weight: bold;
}

main .shipping-information ul {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

main .shipping-information ul div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

main .shipping-information ul li {
  list-style: none;
}

main .shipping-information ul li input {
  border-style: none;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
}

.order-summary li {
  display: flex;
  justify-content: space-between;
}

.order-summary .shipping-fee {
  padding-bottom: 10px;
  border-bottom: 1px #e2e2e2 solid;
}

main .shipping-information ul a {
  display: flex;
  align-items: center;
}

.checkout {
  justify-content: center;
  display: flex;
  text-align: center;
  align-items: center;
}

.checkout a {
  justify-content: center;
  display: flex;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  background-color: #9c89ff;
  padding: 15px;
  height: auto;
  width: 100%;
}
