
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #1C304F;
    color: white;
    font-family: 'Inter', sans-serif;
}

.container {
    margin: 0 auto;
}

.nav-section {
    min-height: 100vh;
    position: relative;
    overflow: hidden; /**/
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.logo {
    font-size: 30px;
    font-weight:bolder;
}

.nav-links {
    display: flex;
    gap: 50px;
    align-items: center;
    margin-left: 100px;

}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-links a:first-child {
    text-decoration: underline;
    text-underline-offset: 10px;
}

.search-container {
    display: flex;
    align-items: center;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5); /* Shadow effect */
    transition: all 0.3s ease-in-out;
}

.search-container input {
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    width: 400px;
}

.search-container button {
    background: transparent;
    border: none;
    margin-left: -40px;
    cursor: pointer;
}

.auth-buttons {
    display: flex;
    gap: 10px;
    margin-left: 20px;
}

.auth-buttons button {
    padding: 8px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5); /* Shadow effect */
    transition: all 0.3s ease-in-out;
}

.signup-btn {
    background-color: white;
    color: #1d2d4a;
}

.signup-btn:hover {
    background-color: #98BBF5;
    color: white;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(3px);
    border-color: white;
}

.login-btn {
    background-color: transparent;
    color: white;
    border: 1px solid white !important;
}

.login-btn:hover {
    background-color: white;
    color: #1C304F;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(3px);
    border-color: white;
}

.content-area {
    display: flex;
    padding: 60px 50px;
    position: relative;
}

.text-content {
    width: 50%;
    padding-top: 45px;
}

.subtitle {
    font-size: 20px;
    margin-bottom: 20px;
    max-width: 600px;
}

.main-heading {
    font-size: 128px;
    font-weight: bold;
    line-height: 0.9;
    margin-bottom: 60px;
}

.shop-now-btn {
    background-color: white;
    color: #1d2d4a;
    padding: 15px 20px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 50px;
}

.shop-now-btn:hover {
    background-color: #98BBF5;
    color: white;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(3px);
    border-color: white;
}

.offer-text {
    font-size: 24px;
    line-height: 1.3;
}

.image-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shoe-image {
    margin-top: -50px; /* Adjust this value as needed */
    max-width: 100%;
    transform: rotate(-0.11deg);
    position: relative;
}

.circle-bg {
    position: absolute;
    bottom: -10px;
    right: -300px;
    width: 1200px; /* Increase size to cover more */
    height: 1200px; /* Increase height for full coverage */
    background-color: rgba(48, 65, 100, 0.5);
    border-radius: 50%;
    z-index: -1; /* layer: back */
}