* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  font-family: "Inter", sans-serif;
  width: 100%;
}

aside {
  padding: 30px;
  min-height: 100vh;
  background: #1c304f;
}

aside ul li img {
  width: 100px;
}

aside ul {
  display: flex;
  flex-direction: column;
  gap: 50px;

  li {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  a {
    color: white;
    text-decoration: none;
  }
}

main {
  margin: 50px;
  width: 90%;
}

main header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main header div {
  gap: 30px;
  display: flex;
}

main header div form {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 0px 0px 0.3px;
  width: 350px;
}

main header div form input {
  border-style: none;
  width: 100%;
}

main header div a,
.signup-btn,
.login-btn {
  background: #1c304f;
  padding: 10px;
  border-radius: 10px;
  color: white;
}

.product-details {
  display: flex;
  padding: 50px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin-top: 40px;
  gap: 30px;
}

.product-details .product-img {
  border-radius: 10px;
  height: 450px;
  width: auto;
  cursor: pointer;
}

.product-details ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-details ul .add-to-cart {
  display: flex;
  gap: 80px;
  padding-top: 20px;
  align-items: center;
}

.product-details ul li {
  list-style: none;
  display: flex;
}

.product-details ul li #container {
  display: flex;
  flex-direction: column;
}

#quantity {
  display: flex;
  gap: 10px;
}

#quantity input {
  padding: 10px;
  align-items: center;
  text-align: center;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #1c304f;
}

#arrows {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-details ul li img {
  width: 20px;
}

#shoe-details {
  display: flex;
  gap: 30px;
  padding-top: 20px;
}

#shoe-details img {
  border-radius: 10px;
  width: 200px;
  cursor: pointer;
}

#total-amount .price {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #1c304f;
  align-items: center;
  text-align: center;
}

#add-to-cart-button {
  padding: 10px;
  background-color: #1c304f;
  border-radius: 10px;
  color: white;
}

.other-shoes {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 20px;
  flex-basis: 400px;
  cursor: pointer;
}

.other-shoes li {
  display: flex;
}

.other-shoes-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
  position: relative;
}

.product-price {
  color: white;
  background-color: #1c304f;
  text-align: center;
  padding: 10px;
  border-radius: 15px;
  margin-left: 20px;
}

.other-shoes-details div {
  display: flex;
  gap: 10px;
  align-items: center;
}

.other-shoes-details span {
  background: #1c304f;
  color: white;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  right: 40px;
  top: 50px;
}

.shoe-name {
  max-width: 20ch;
}

.other-price-item {
  padding: 10px !important;
}

.other-shoes li img {
  display: flex;
  flex: 1;
  width: 200px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#star img {
  width: 20px;
}

.other-shoes-section {
  display: flex;
  gap: 40px;
  margin-top: 40px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

button.add-to-cart-btn:disabled {
  background-color: #395d92 !important;
  cursor: not-allowed !important;
}
